/* min max width support */
/* degraded experience without this support */
/* unordered list being the parent element prevents child ul li not width 100% or min max not working */

@media screen and (min-width: 1024px) {
    * { margin:0; padding:0; }
        html, body { width:100%; height:100% }  
        body { background-color: #0F0; color: #000; }
        #main { color: #CCCCCC; margin-left: 7em; padding: 2em 0 1px 5%; border-left: 1px solid; }
        #nav-wrapper { float:right; }
        div#nav { width:112px; margin: 0 auto; background: #FFDDDD; }
        div#nav ul { margin:0; padding:0; border: 1px solid #AAAAAA; border-width:0 1px; }
        div#nav li { position: relative; text-align: center; list-style: none; margin:0; float:right; width:7em; border-bottom: 1px solid #CCCCCC; }   
        div#nav ul ul { position: absolute; width:7em; display:none; }
        div#nav ul ul li { border:1px solid #CCCCCC; width: 100vw; background: #FF0; right:-75px;}
        div#nav li a { display: block; padding: 0.25em 0 0.25em 0.5em; text-decoration: none; }
        div#nav > ul a { width: auto; }
        div#nav li:hover { background: #EEBBBB; }
        div#nav li.submenu { background: yellow; }
        div#nav ul.level1 li.submenu:hover ul.level2, 
        div#nav ul.level2 li.submenu:hover ul.level3 { width:50px; display:block;}
        div#nav ul.level2 { top:1.5em; left: -13px; }
        /*div#nav ul.level2 { top:1.5em; left: -1px;}*/
        /*div#nav ul.level3 { top:-1px; left:7em; border-top:1px solid #CCCCCC; }*/
        div#nav ul.level3 { top:-1px; left:7em; border-top:1px solid #CCCCCC;  }

}


@media screen and (min-width: 640px) and (max-width: 1023px) {
    * { margin:0; padding:0; }
        html, body { width:100%; height:100%; } 
        body { background-color: #FF0; color: #000; }
        #main { color: #CCCCCC; margin-left: 7em; padding: 2em 0 1px 5%; border-left: 1px solid; }
        #nav-wrapper { float:right; }
        div#nav { width:112px; margin: 0 auto; background: #FFDDDD; }
        div#nav ul { margin:0; padding:0; border: 1px solid #AAAAAA; border-width:0 1px; }
        div#nav li { position: relative; text-align: center; list-style: none; margin:0; float:right; width:7em; border-bottom: 1px solid #CCCCCC; }   
        div#nav ul ul { position: absolute; width:7em; display:none; }
        div#nav ul ul li { border:1px solid #CCCCCC; width:100vw; background: #FF0; right:-75px;}
        div#nav li a { display: block; padding: 0.25em 0 0.25em 0.5em; text-decoration: none; }
        div#nav > ul a { width: auto; }
        div#nav li:hover { background: #EEBBBB; }
        div#nav li.submenu { background: yellow; }
        div#nav ul.level1 li.submenu:hover ul.level2, 
        div#nav ul.level2 li.submenu:hover ul.level3 { width:50px; display:block;}
        div#nav ul.level2 { top:1.5em; left: -13px; }
        /*div#nav ul.level2 { top:1.5em; left: -1px;}*/
        /*div#nav ul.level3 { top:-1px; left:7em; border-top:1px solid #CCCCCC; }*/
        div#nav ul.level3 { top:-1px; left:7em; border-top:1px solid #CCCCCC;  }

}


@media screen and (min-width: 320px) and (max-width: 639px) {
    * { margin:0; padding:0; }
        html, body { width:100%; height: 100%; } 
        body { background-color: #00F; color: #000; }
        #main { color: #CCCCCC; margin-left: 7em; padding: 2em 0 1px 5%; border-left: 1px solid; }
        #nav-wrapper { float:right; }
        div#nav { width:112px; margin: 0 auto; background: #FFDDDD; }
        div#nav ul { margin:0; padding:0; border: 1px solid #AAAAAA; border-width:0 1px; }
        div#nav li { position: relative; text-align: center; list-style: none; margin:0; float:right; width:7em; border-bottom: 1px solid #CCCCCC; }   
        div#nav ul ul { position: absolute; width:7em; display:none; }
        div#nav ul ul li { border:1px solid #CCCCCC; width:100vw; background: #FF0; right:-75px;}
        div#nav li a { display: block; padding: 0.25em 0 0.25em 0.5em; text-decoration: none; }
        div#nav > ul a { width: auto; }
        div#nav li:hover { background: #EEBBBB; }
        div#nav li.submenu { background: yellow; }
        div#nav ul.level1 li.submenu:hover ul.level2, 
        div#nav ul.level2 li.submenu:hover ul.level3 { width:50px; display:block;}
        div#nav ul.level2 { top:1.5em; left: -13px; }
        /*div#nav ul.level2 { top:1.5em; left: -1px;}*/
        /*div#nav ul.level3 { top:-1px; left:7em; border-top:1px solid #CCCCCC; }*/
        div#nav ul.level3 { top:-1px; left:7em; border-top:1px solid #CCCCCC;  }

}





